@tailwind base;
@tailwind utilities;
@tailwind components;

.fixed-bottom{
    position: fixed;
    bottom: 50px;
    left: 100px;
}
/* LETREIRO */
#letreiro{
    height: 6vh; 
    background-color: #dfef00;
}
#letreiro #letreiro-div{
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
#letreiro #letreiro-div h1{
    font-size: 35px;
    text-overflow: clip;
    animation: letreiro 20s linear infinite alternate ;
}
@keyframes letreiro{
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(-115vw);
    }
}

/* LETREIRO */